<po-page-list p-title="Cadastro de Prazos de Entrega" [p-actions]="actions">
  <po-table p-checkbox
            p-container="shadow"
            [p-hide-text-overflow]="false"
            [p-loading]="isTableLoading"
            [p-actions]="tableActions"
            [p-actions-right]="true"
            [p-columns]="columns"
            [p-selectable]="true"
            [p-single-select]="true"
            [p-sort]="true"
            [p-striped]="true"
            [p-items]="prazoEntrega"> </po-table>
</po-page-list>
