<po-page-detail (p-back)="back()" (p-remove)="remove()" (p-edit)="edit()" [p-title]="title">

  <div class="po-row">
    <po-info class="po-lg-2" p-label="Item" [p-value]="itemExcecao.item"> </po-info>
    <po-info class="po-lg-5" p-label="Descrição" [p-value]="itemExcecao.descricao"> </po-info>
    <po-info class="po-lg-2" p-label="Clas. Frete" [p-value]="itemExcecao.classFrete"> </po-info>
    <po-info class="po-lg-2" p-label="Tipo Item" [p-value]="itemExcecao.tipoItem"> </po-info>
  </div>

</po-page-detail>
