<po-page-edit (p-save)="save()" (p-cancel)="cancel()" [p-title]="title">
  <form [formGroup]="paisForm">
    <div class="po-row">
      <po-input class="po-lg-1" formControlName="codigo" [(ngModel)]="codigo" p-label="Cód. País" p-required> </po-input>
      <po-input class="po-lg-4" formControlName="nome" [(ngModel)]="nome" p-label="Descrição" p-required> </po-input>
      <po-input class="po-lg-1" formControlName="sigla" [(ngModel)]="sigla" p-label="Sigla"> </po-input>
      <po-lookup class="po-lg-1" formControlName="idioma" [(ngModel)]="idioma" p-label="Idioma" p-field-value="id" p-field-label="id" p-filter-service="http://localhost:3000/idiomas" (p-change)="changeOptions($event)" p-required> </po-lookup>
      <po-input class="po-lg-4" formControlName="descIdioma" [(ngModel)]="descIdioma" p-label="Descr. Idioma" p-disabled> </po-input>
    </div>
    <br />
    <div class="po-row">
      <po-input class="po-lg-1" formControlName="dinalad" [(ngModel)]="dinalad" p-label="Dinalad"> </po-input>
      <po-select class="po-lg-2" formControlName="naladi" [(ngModel)]="naladi" p-label="Naladi" [p-options]="naladiOpt" p-required> </po-select>
      <po-select class="po-lg-2" formControlName="certOrigemAladi" [(ngModel)]="certOrigemAladi" p-label="C.O Aladi" [p-options]="certOriAladiOpt"> </po-select>
      <po-select class="po-lg-2" formControlName="certOrigemComum" [(ngModel)]="certOrigemComum" p-label="C.O. Comum" [p-options]="certOriComumOpt"> </po-select>
      <po-select class="po-lg-2" formControlName="certOrigemMercosul" [(ngModel)]="certOrigemMercosul" p-label="C.O. Mercosul" [p-options]="certMercosulOpt"> </po-select>
      <po-select class="po-lg-2" formControlName="certOrigemSGPC" [(ngModel)]="certOrigemSGPC" p-label="C.O. SGPC" [p-options]="certSGPCOpt"> </po-select>
    </div>
    <br />
    <div class="po-row">
      <po-select class="po-lg-2" formControlName="exigeLicImport" [(ngModel)]="exigeLicImport" p-label="Exige L.I." [p-options]="exigeLIOpt"> </po-select>
      <po-input class="po-lg-3" formControlName="paisIngles" [(ngModel)]="paisIngles" p-label="País Inglês" p-required> </po-input>
      <po-input class="po-lg-4" formControlName="nacionalidad" [(ngModel)]="nacionalidad" p-label="Nacionalidade"> </po-input>
      <po-input class="po-lg-2" formControlName="codERP" [(ngModel)]="codERP" p-label="Codigo ERP"> </po-input>
      <po-lookup class="po-lg-2" formControlName="codPaisDUE" [(ngModel)]="codPaisDUE" p-label="Cód. País D.U.E." p-field-value="codigo" p-field-label="codigo" p-filter-service="http://localhost:3000/paisdue"> </po-lookup>
    </div>
  </form>
</po-page-edit>
