<po-page-detail (p-back)="back()" (p-remove)="remove()" (p-edit)="edit()" [p-title]="title">
  <po-divider class="po-lg-12" p-label="Identificação"></po-divider>
  <div class="po-row">
    <po-info class="po-lg-2" [p-value]="prazoEntrega.codTabela" p-label="Cod. Tabela"> </po-info>
    <po-info class="po-lg-2" [p-value]="prazoEntrega.tipoTabela" p-label="Tipo Tabela"> </po-info>
    <po-info class="po-lg-2" [p-value]="prazoEntrega.idaVolta" p-label="Ida e Volta"> </po-info>
    <po-info class="po-lg-2" [p-value]="prazoEntrega.iniValidade" p-label="Ini. Validade"> </po-info>
    <po-info class="po-lg-2" [p-value]="prazoEntrega.fimValidade" p-label="Fim Validade"> </po-info>
  </div>
  <br />
  <div class="po-row">
    <po-info class="po-lg-2" [p-value]="prazoEntrega.prioridade" p-label="Nivel Priorid."> </po-info>
  </div>
  <br />

  <po-divider class="po-lg-12" p-label="Origem"></po-divider>
  <div class="po-row">
    <po-info class="po-lg-2" [p-value]="prazoEntrega.cidOrigem" p-label="Cid. Origem"> </po-info>
    <po-info class="po-lg-2" [p-value]="prazoEntrega.regOrigem" p-label="Reg. Origem"> </po-info>
    <po-info class="po-lg-2" [p-value]="prazoEntrega.remetente" p-label="Remetente"> </po-info>
  </div>
  <br />

  <po-divider class="po-lg-12" p-label="Destino"></po-divider>
  <div class="po-row">
    <po-info class="po-lg-2" [p-value]="prazoEntrega.cidDest" p-label="Cid. Destino"> </po-info>
    <po-info class="po-lg-2" [p-value]="prazoEntrega.regDest" p-label="Reg. Destino"> </po-info>
    <po-info class="po-lg-2" [p-value]="prazoEntrega.destinatario" p-label="Destinatário"> </po-info>
  </div>
  <br />

  <po-divider class="po-lg-12" p-label="Origem x Destino"></po-divider>
  <div class="po-row">
    <po-info class="po-lg-6" [p-value]="prazoEntrega.rotaOrigem" p-label="Rota Origem"> </po-info>
    <po-info class="po-lg-6" [p-value]="prazoEntrega.rotaDestino" p-label="Rota Destino"> </po-info>
  </div>
  <br />

  <po-divider class="po-lg-12" p-label="Filtros"></po-divider>
  <div class="po-row">
    <po-info class="po-lg-2" [p-value]="prazoEntrega.tipoOper" p-label="Tipo Operação"> </po-info>
    <po-info class="po-lg-4" [p-value]="prazoEntrega.descTpOper" p-label="Desc. Tipo Operação"> </po-info>
    <po-info class="po-lg-2" [p-value]="prazoEntrega.tipoVeiculo" p-label="Tipo Veículo"> </po-info>
    <po-info class="po-lg-4" [p-value]="prazoEntrega.descTpVeic" p-label="Desc. Tipo Veículo"> </po-info>
  </div>
  <br />
  <div class="po-row">
    <po-info class="po-lg-2" [p-value]="prazoEntrega.codGrupo" p-label="Cod. Grupo"> </po-info>
    <po-info class="po-lg-4" [p-value]="prazoEntrega.descGrupo" p-label="Desc. Grupo Transp."> </po-info>
    <po-info class="po-lg-2" [p-value]="prazoEntrega.transportador" p-label="Transportador"> </po-info>
    <po-info class="po-lg-4" [p-value]="prazoEntrega.descTransp" p-label="Nome Transportador"> </po-info>
  </div>
  <br />
  <div class="po-row">
    <po-info class="po-lg-2" [p-value]="prazoEntrega.modal" p-label="Modal"> </po-info>
    <po-info class="po-lg-2" [p-value]="prazoEntrega.classifFrete" p-label="Class. Frete"> </po-info>
    <po-info class="po-lg-4" [p-value]="prazoEntrega.descClass" p-label="Desc. Class. Frete"> </po-info>
  </div>
  <br />

  <po-divider class="po-lg-12" p-label="Valores"></po-divider>
  <div class="po-row">
    <po-info class="po-lg-2" [p-value]="prazoEntrega.tipoPrazo" p-label="Tipo Prazo"> </po-info>
    <po-info class="po-lg-1" [p-value]="prazoEntrega.prazo" p-label="Prazo"> </po-info>
  </div>

  <br /><br />
</po-page-detail>
